<h2>Sign up</h2>


<%= form_with(model: user, local: true) do |f| %>
  <%= render "devise/shared/error_messages", resource: @user %>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%= f.label :password %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> 12)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <% if (current_user) && (current_user.admin = true) %>
      <h4>Make Admin?</h4>
      <h4><%= f.label "yes" %>
      <%= f.radio_button :admin, true %></h4>
      <h4><%= f.label "no" %>
      <%= f.radio_button :admin, false, :checked => true %></h4>
    <% end %>

  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>
