<p id="notice"><%= notice %></p>

<p>
  <strong>Img:</strong>
  <%= image_tag @image.image_upload %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<p>
  <strong>Favorite:</strong>
  <%= @image.favorite %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
